:root
{
	--light-grey:#c8c8c8;
	--middle-grey:#666666;
	--dark-grey:#404040;
	--very-dark-grey:#202020;
	--main-button:#3375cc;
	--main-button-hover:#5c91d6;
	--main-text:#ffffff;
	--data-block:var(--middle-grey);
	--header:#295ea3;
	--footer:var(--header);
}

body
{
	background-color:var(--very-dark-grey);
	font-size:1em;
	width:100%;
	clear:both;
	float:left;
	margin:0%;
	padding:0%;
}

p, h1, h2, h3, h4, h5
{
	color:var(--main-text);
	font-family:"Verdana", Geneva, sans-serif;
	margin:0%;
	padding:0%;
	clear:none;
}

p
{
	font-size:1em;
	word-wrap: break-word;
}

h5
{
	font-size:1.3em;
}

h4
{
	font-size:1.6em;
}

h3
{
	font-size:2em;
}

h2
{
	font-size:2.25em;
}

h1
{
	font-size:2.5em;
}

a
{
	color:var(--main-text);
	text-decoration:none;
}

input
{
	border-style:none;
}

a:hover
{
	color:var(--main-text);
	text-decoration:none;
}

.button-left
{
	background-color:var(--main-button);
	color:white;
	text-shadow:none;
	width:25%;
	margin:0%;
	padding:5%;
	font-size:150%;
	text-align:center;
	border-radius:0.3em;
	float:left;
	clear:none;
	transition: transform 0.25s, background-color 0.25s, text-shadow 0.25s;
}

.button-left:hover
{
	background-color:var(--main-button-hover);
	text-shadow: 0px 0px 4px white;
	transform:scale(1.1);
}

.button-left-clear-left
{
	background-color:var(--main-button);
	color:white;
	text-shadow:none;
	width:4%;
	margin:1%;
	padding:1%;
	font-size:150%;
	text-align:center;
	float:left;
	clear:left;
	transition: transform 0.25s, background-color 0.25s, text-shadow 0.25s;
}

.button-left-clear-left:hover
{
	background-color:var(--main-button-hover);
	text-shadow: 0px 0px 4px white;
	transform:scale(1.1);
}

.button-left-clear-right
{
	background-color:var(--main-button);
	color:white;
	text-shadow:none;
	width:7%;
	min-width:100px;
	margin:1%;
	padding:1%;
	font-size:150%;
	text-align:center;
	float:left;
	clear:Both;
	transition: transform 0.25s, background-color 0.25s, text-shadow 0.25s;
}

.button-left-clear-right:hover
{
	background-color:var(--main-button-hover);
	text-shadow: 0px 0px 4px white;
	transform:scale(1.1);
}

.button-right
{
	background-color:var(--main-button);
	color:white;
	text-shadow:none;
	width:7%;
	min-width:100px;
	margin:1%;
	padding:1%;
	font-size:150%;
	text-align:center;
	border-radius: 0.3em;
	float:right;
	clear:none;
	transition: transform 0.25s, background-color 0.25s, text-shadow 0.25s;
}

.button-right:hover
{
	background-color:var(--main-button-hover);
	text-shadow: 0px 0px 4px white;
	transform:scale(1.1);
}

.input-left
{
	background-color:var(--main-button);
	color:white;
	border-style:none;
	text-shadow:none;
	font-weight:bold;
	cursor:pointer;
	width:7.5%;
	min-width:100px;
	margin:1%;
	padding:1.2% 1%;
	font-size:150%;
	text-align:center;
	float:left;
	clear:none;
	transition: transform 0.25s, background-color 0.25s, text-shadow 0.25s;
}

.input-left:hover
{
	background-color:var(--main-button-hover);
	text-shadow: 0px 0px 4px white;
	transform:scale(1.1);
}

.input-right
{
	background-color:var(--main-button);
	color:white;
	border-style:none;
	text-shadow:none;
	cursor:pointer;
	width:7%;
	min-width:100px;
	margin:1%;
	padding:1.2% 1%;
	font-size:150%;
	text-align:center;
	float:right;
	clear:none;
	transition: transform 0.25s, background-color 0.25s, text-shadow 0.25s;
}

.input-right:hover
{
	background-color:var(--main-button-hover);
	text-shadow: 0px 0px 4px white;
	transform:scale(1.1);
}
