:root
{
	--tool-bar:var(--dark-grey);
}

.content
{
	width:100%;
	height:100%;
	clear:both;
	margin:0%;
	padding:0% 0%;
	z-index:-1;
}

.content-array-block
{
	width:100%;
	float:left;
	clear:both;
}

.content-tool-bar
{
	background-color:var(--tool-bar);
	border-bottom-width:0.15em;
	border-bottom-color:black;
	border-bottom-style:solid;
	width:100%;
	float:left;
	padding:0%;
	margin:0%;
}

.content-tool-bar div
{
	color:white;
	margin-top:0.3%;
	margin-left:0.3%;
	clear:left;
	float:left;
}

.content-tool-bar > div:last-child
{
	width:27%;
	clear:right;
	margin-left:2%;
}

.content-tool-bar button
{
	padding:2% 3.5%;
	margin:0%;
}

.content-tool-bar .button-left
{
	margin:0.3%;
}

.content-tool-bar form button
{
	margin-top:-2.75%;
}

.content-tool-bar form
{
	margin-top:3.25%;
}