:root
{
	--data-block-background-title:var(--header);
	--data-block-background-subtitle:var(--middle-grey);
	--data-block-button:#5c91d6;
	--data-block-button-hover:#85ace0;
}

.data-block
{
	background-color:white;
	outline: black solid 0.15em;
	width:23%;
	min-width:20em;
	height:auto;
	float:left;
	padding:0%;
	margin:1%;
}

.data-block p
{
	color:black;
}

.positive p
{
	color:#00AA00;
}

.negative > p
{
	color:#AA0000;
}

.data-block form div
{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	margin:0%;
	padding:0%;
}

.data-block form > div:first-child
{
	border-bottom: 0.1em solid black;
}

.data-block form > div:last-child
{
	border-top: 0.1em solid black;
}

.data-block form > div:first-child, .data-block form > div:last-child
{
	background-color:var(--data-block-background-title);
	width:90%;
	float:left;
	padding:5%;
	text-align: center;
}

.data-block form > div:last-child
{
	width:98%;
	padding:1%;
}

.data-block form div input
{
	color:white;
	text-shadow:none;
	font-size:100%;
	width:6em;
	min-Width:4em;
	text-align:center;
	cursor:pointer;
	margin:1% 0% 0.5% 0%;
	padding:1%;
}

.data-block form div input[type="submit"]
{
	background-color:var(--data-block-button);
	float:left;
	border-radius: 0.3em;
	margin:2%;
	padding:2.5%;
	transition:transform 0.25s, background-color 0.25s, text-shadow 0.25s;
}

.data-block form div input[type="submit"]:disabled
{
	background-color:var(--middle-grey);
	float:left;
	margin:2%;
}

.data-block form div input[type="submit"]:disabled:hover
{
	background-color:var(--middle-grey);
	cursor:initial;
	text-shadow:0px 0px 0px black;
	transform:scale(1);
}

.data-block form div input[type="submit"]:hover
{
	background-color:#eb7878;
	text-shadow:0px 0px 4px white;
	transform:scale(1.1);
}

.data-block form div input[type="submit"]:last-child
{
	background-color:var(--data-block-button);
	border-radius: 0.3em;
	float:right;
}

.data-block form div input[type="submit"]:last-child:disabled
{
	background-color:var(--middle-grey);
}

.data-block form div input[type="submit"]:last-child:hover
{
	background-color:#ebe178;
	text-shadow:0px 0px 4px white;
	transform:scale(1.1);
}

.data-block form div input[type="submit"]:last-child:disabled:hover
{
	background-color:var(--middle-grey);
	cursor:initial;
	text-shadow:0px 0px 0px black;
	transform:scale(1);
}

.data-block form div > div
{
	width:86%;
	margin:0.25% 5%;
	padding:2%;
}

.data-block form div > div > p
{
	text-align:center;
	font-size:18px;
}

.data-block form div > div:first-child
{
	background-color:var(--data-block-background-subtitle);
	width:96%;
	height:auto;
	text-align:left;
	margin:0%;
	padding:2%;
}

.data-block form div > div:first-child p
{
	color:white;
}

.data-block form div div > div:first-child
{
	background-color:white;
	width:40%;
	text-align:left;
	float:left;
	clear:left;
	margin:0%;
	padding:0%;
}

.data-block form div div > div:last-child
{
	width:60%;
	text-align:right;
	float:right;
	clear:right;
	margin:0%;
	padding:0%;
}
