.footer
{
	background-color:var(--footer);
	color:white;
	width:100%;
	height:auto;
	float:left;
	clear:both;
	z-index:-1;
}

.footer div
{
	width:100%;
	height:auto;
	border-top-width:0.15em;
	border-top-style:solid;
	border-top-color:black;
	float:left;
	clear:both;
}
