#form-title
{
	background-color:#152977;
	color:white;
	width:100%;
	text-align:center;
	margin:0% 0% 2% 0%;
	padding:1% 0% 1% 0%;
}

.form
{
	background-color:white;
	width:50%;
	min-width:32em;
	height:auto;
	float:left;
	clear:both;
	margin:2% 24%;
	padding:0% 0% 0% 0%;
}

.form div:first-child
{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	margin:0%;
	padding:0%;
}

.form div:last-child
{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	margin:0%;
	padding:0%;
}

.form div div
{
	background-color:var(--main-button);
	color:white;
	width:68%;
	height:auto;
	float:left;
	clear:both;
	margin:0.25% 15%;
	padding:1%;
}

.form div div:last-child
{
	width:68%;
	height:auto;
	float:left;
	clear:both;
	margin:0.25% 15%;
	padding:1%;
}

.form div div div
{
	background-color:black;
	background-image:none;
	border-style:none;
}

.form div:first-child div div:first-child
{
	width:60%;
	height:auto;
	float:left;
	clear:left;
	margin:0%;
	padding:0%;
}

.form div:first-child div div:last-child
{
	width:40%;
	height:auto;
	float:right;
	clear:right;
	margin:1% 0% 0% 0%;
	padding:0%;
}

.form div:first-child div div:last-child input
{
	width:100%;
	min-width:8em;
	height:auto;
	float:right;
	clear:right;
	margin:0%;
	padding:0%;
}

.form div:first-child div div:last-child textarea
{
	width:100%;
	min-width:8em;
	height:auto;
	float:right;
	clear:right;
	margin:0%;
	padding:0%;
}

.form div:first-child div div:last-child select
{
	width:100%;
	min-width:8em;
	text-align:center;
	height:auto;
	float:right;
	clear:right;
	margin:0%;
	padding:0%;
}

.form div:last-child a div
{
	background-color:var(--main-button);
	color:white;
	text-shadow:none;
	border-style:none;
	width:10%;
	min-width:64px;
	text-align:center;
	clear:left;
	margin:1%;
	padding:2%;
	transition:transform 0.25s, text-shadow 0.25s, background-color 0.25s;
}

.form div:last-child a div:hover
{
	background-color:#eb7878;
	text-shadow:0px 0px 4px white;
	transform:scale(1.1);
}

.form input[type='submit']
{
	background-color:var(--main-button);
	color:white;
	font-size:16px;
	border-style:none;
	width:14%;
	min-width:64px;
	float:right;
	clear:right;
	margin:1%;
	padding:2%;
	transition:transform 0.25s, text-shadow 0.25s, background-color 0.25s;
}

.form input[type='submit']:hover
{
	background-color:#8ca0ff;
	text-shadow:0px 0px 4px white;
	transform:scale(1.1);
	cursor:pointer;
}
