#form-title
{
	background-color:var(--data-block-background-title);
	color:white;
	width:100%;
	text-align:center;
	padding:1% 0% 1% 0%;
	border-bottom:0.1em solid black;
}

.form
{
	background-color:white;
	outline: black solid 0.15em;
	width:25%;
	height:auto;
	float:left;
	clear:both;
	margin:2% 37.5%;
	padding:0% 0% 0% 0%;
}

.form form div
{
	width:100%;
	float:left;
	clear:both;
	margin:0%;
	padding:0%;
}

.form > form > div:last-child
{
	background-color:var(--data-block-background-title);
	border-top:0.1em solid black;
}

.form div div
{
	color:white;
	width:100%;
	height:auto;
	float:left;
	clear:both;
}

.form div > div p
{
	width:98%;
	background-color:var(--data-block-background-subtitle);
	padding:1% 1%;
	margin:0% 0% 1% 0%;
	font-size:125%;
	border-top:0.01em solid black;
	border-bottom:0.01em solid black;
}

.form div:first-child div div:first-child
{
	width:60%;
	height:auto;
	float:left;
	clear:left;
	margin:0%;
	padding:0%;
}

.form div:first-child div div:last-child
{
	width:40%;
	height:auto;
	float:right;
	clear:right;
	margin:1% 0% 0% 0%;
	padding:0%;
}

.form div:first-child div div:last-child input
{
	width:100%;
	min-width:8em;
	height:auto;
	float:right;
	clear:right;
	margin:0%;
	padding:0%;
}

.form div:first-child div div:last-child textarea
{
	width:100%;
	min-width:8em;
	height:auto;
	float:right;
	clear:right;
	margin:0%;
	padding:0%;
}

.form div:first-child div div:last-child select
{
	width:100%;
	min-width:8em;
	text-align:center;
	height:auto;
	float:right;
	clear:right;
	margin:0%;
	padding:0%;
}

.form div:last-child a div
{
	background-color:var(--data-block-button);
	color:white;
	text-shadow:none;
	border-style:none;
	width:10%;
	min-width:64px;
	border-radius: 0.3em;
	text-align:center;
	clear:left;
	margin:1%;
	padding:2%;
	transition:transform 0.25s, text-shadow 0.25s, background-color 0.25s;
}

.form div:last-child a div:hover
{
	background-color:var(--data-block-button-hover);
	text-shadow:0px 0px 4px white;
	transform:scale(1.1);
}

.form input,.form select
{
	width:100%;
	padding:1%;
	margin:0% 0% 1% 0%;
	text-align:center;
	padding-inline:0%;
	font-size: 100%;
	border:none;
	border-radius: 0em;
}

.form select > option
{
	background-color:white;
}

.form input:focus,.form select > option:focus
{
	background-color: #afafc8;
	border-color:#6464ff;
}

.form input[type='submit']
{
	background-color:var(--data-block-button);
	color:white;
	font-size:16px;
	border-style:none;
	width:14%;
	min-width:64px;
	float:right;
	clear:right;
	margin:1%;
	padding:2%;
	transition:transform 0.25s, text-shadow 0.25s, background-color 0.25s;
}

.form input[type='submit']:hover
{
	background-color:var(--data-block-button-hover);
	text-shadow:0px 0px 4px white;
	transform:scale(1.1);
	cursor:pointer;
}
