.header
{
	background-color:var(--header);
	color:white;
	width:100%;
	height:auto;
	margin:0%;
	padding:0%;
	float:Left;
	clear:both;
	z-index:-1;
	border-bottom-width:0.15em;
	border-bottom-color:black;
	border-bottom-style:solid;
}

.header > div
{
	width:100%;
	height:auto;
	margin:0%;
	padding:0%;
	float:left;
	clear:none;
}

.header-title
{
	width:75%;
	height:100%;
	text-align:center;
	float:left;
	clear:both;
}

.header-title > h1
{
	margin:4.25% 0% 0% 0%;
}

.login
{
	width:24.5%;
	margin:0%;
	padding:0%;
	border-left: 0.15em solid black;
	float:right;
	clear:right;
	background-color:var(--dark-grey);
}

.login form > div:first-child
{
	width:100%;
	text-align: center;
	margin:2.5% 0%;
}

.login form > div > label > input
{
	float:right;
}

.login form > div
{
	width:75%;
	float:left;
	clear:both;
	margin:1% 15%;
}

.login form > div > input
{
	margin:1% 0%;
	padding:2.5%;
	font-size:125%;
	border-radius: 0.3em;
}

.loged-in
{
	background-color:var(--dark-grey);
	color:white;
	width:24%;
	float:right;
	clear:right;
	border-left-width: 0.15em;
	border-left-color: black;
	border-left-style: solid;
}

.loged-in > div
{
	width:99.5%;
	float:right;
	clear:both;
	text-align:center;
}

.loged-in > div:last-child
{
	width:40%;
	background-color:var(--main-button);
	margin:5% 5% 2.5% 0%;
	font-size:100%;
}
