@media screen and (min-width: 640px)
{
	.menu-window
	{
		width:auto;
		height:720px;
		float:left;
		clear:both;
		position:fixed;
		z-index:1;
	}
}

@media screen and (min-width: 1280px)
{
	.menu-window
	{
		width:auto;
		height:1080px;
		float:left;
		clear:both;
		position:fixed;
		z-index:1;
	}
}

@media screen and (min-width: 2560px)
{
	.menu-window
	{
		width:auto;
		height:1800px;
		float:left;
		clear:both;
		position:fixed;
		z-index:1;
	}
}

@media screen and (min-width: 3840px)
{
	.menu-window
	{
		width:auto;
		height:2160px;
		float:left;
		clear:both;
		position:fixed;
		z-index:1;
	}
}

@media screen and (min-width: 4096px)
{
	.menu-window
	{
		width:auto;
		height:2880px;
		float:left;
		clear:both;
		position:fixed;
		z-index:1;
	}
}

@media screen and (min-width: 7680px)
{

	.menu-window
	{
		width:auto;
		height:4320px;
		float:left;
		clear:both;
		position:fixed;
		z-index:1;
	}
}

.main-menu
{
	background-color:var(--dark-grey);
	width:25%;
	height:100%;
	min-width:200px;
	max-width:300px;
	margin:0%;
	padding:0%;
	float:left;
	clear:left;
	display:none;
}

.main-menu div
{
	width:100%;
	height:100%;
	border-right:0.1875em solid var(--middle-grey);
	padding:1% 0%;
	margin:0%;
	float:left;
	clear:both;
}

.main-menu div a .main-menu-button
{
	background-color:var(--main-button);
	color:white;
	width:83%;
	height:auto;
	border:0.1em solid black;
	padding:5%;
	margin:0% 2.5% 5% 2.5%;
	transition: background-color 0.25s, border-color 0.25s, box-shadow 0.25s, text-shadow 0.25s, transform 0.25s;
}

.main-menu div a .main-menu-button:hover
{
	background-color:var(--main-button-hover);
	border-color:white;
	box-shadow: 0px 0px 5px white;
	text-shadow:0px 0px 4px white;
	transform:scale(1.1);
}

.main-menu p
{
	text-align:center;
}

.menu-button
{
	background-color:#646400;
	width:30px;
	height:30px;
	margin:25% 0%;
	float:left;
	clear:right;
}
