@media screen and (min-width: 640px)
{
	.wrapper
	{
		width:100%;
		height:720px;
		clear:both;
	}
}

@media screen and (min-width: 1280px)
{
	.wrapper
	{
		width:100%;
		height:1080px;
		float:left;
		clear:both;
	}
}

@media screen and (min-width: 2560px)
{
	.wrapper
	{
		width:100%;
		height:1800px;
		float:left;
		clear:both;
	}
}

@media screen and (min-width: 3840px)
{
	.wrapper
	{
		width:100%;
		height:2160px;
		float:left;
		clear:both;
	}
}

@media screen and (min-width: 4096px)
{
	.wrapper
	{
		width:100%;
		height:2880px;
		float:left;
		clear:both;
	}
}

@media screen and (min-width: 7680px)
{
	.wrapper
	{
		width:100%;
		height:4320px;
		float:left;
		clear:both;
	}
}
